.my-style-2 {
    color: brown;
}

#my-style-3 {
    color: chartreuse;
}

p {
    color: burlywood;
}

h3 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.body-style {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
}

nav a {
    text-decoration: none;
}

h2,
h3 {
    color: coral;
}

.box-model {
    margin: 2em;
    padding: 2em;
    border: 2px;
    border-style: solid;
    border-color: blue;
}

.text-style {
    color: darkblue;
    text-align: right;
    text-shadow: 5px 5px blue;
    font-size: 3em;
}

body {
    background-image: url("https://images.ctfassets.net/hrltx12pl8hq/7nXLWZh2on11f1lzV2bs2h/65bfbcacfb089817e791b2a6d42481eb/02-nature-backgrounds_387062149.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

/* body {
    background-image: url("C:\\Users\\DELL\\Desktop\\bcg.png");
    background-repeat: no-repeat;
    background-size: 100%;
} */