.my-style-2 {
    color: brown;
}

#my-style-3 {
    color: chartreuse;
}

p {
    color: burlywood;
}

h3 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.body-style {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
}

nav a {
    text-decoration: none;
}

h2,
h3 {
    color: coral;
}

.box-model {
    margin: 2em;
    padding: 2em;
    border: 2px;
    border-style: solid;
    border-color: blue;
}